/* img{
    margin-top: 10px;
    display: block;
    margin-left: 25%;
} */

body{
    background-color:#80daff ;
    
}

li{
    font-size: large;
    color:black;
    font-family: cursive;
}

h1,h2{
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
}

a, u {
    text-decoration: none;
}

footer{
    position: fixed;
    bottom:0;
    font-size: 50px;
    font-family: cursive;
    margin-bottom: 15px;
}

table{
    border-collapse: collapse;
    border:2px black solid;
}
  
td, th, tr{
    border:solid 2px black;
    font-family: cursive;
    padding : 10px;
}

fieldset{
    border: 3px solid chocolate;
    border-radius: 10px;
    margin-bottom: 25px;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

input{
    margin-bottom: 10px;
}

fieldset, label{
    box-shadow: blueviolet;
    font-family: cursive;
}

button{
    width: 30%;
    height: 45%;
    font-weight: 1000;
    font-family: cursive;
}

.nav h2{
  display: inline-block;
  padding: 15px;
  border: 3px solid blueviolet;
  
}

.nav{
    text-align: center;
    width: 100%;
    display: inline-block;
    padding: 15px;
    border: 3px solid chocolate;
    border-radius: 15px;
}

.nav button{
    width: 14%;
    height: 65px;
    font-weight: 1000;
    font-family: cursive;
}