img{
    margin-top: 10px;
    display: block;
    margin-left: 25%;
    /* margin-right: auto; */
    margin-bottom: 25px;
}

body{
    background-color:#80daff ;
    
}

li{
    font-size: large;
    color:black;
    font-family: cursive;
}

h1,h2{
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
}

a, u {
    text-decoration: none;
}

footer{
    position: fixed;
    bottom:0;
    font-size: 50px;
    font-family: cursive;
    margin-bottom: 15px;
}

table{
    border-collapse: collapse;
    border:2px black solid;
  }
  
  td, th, tr{
    border:solid 2px black;
    font-family: cursive;
    padding : 10px;
  }